!!!
%html
	%head
		%link{href: "assets/stylesheets/main.css", rel: "stylesheet", type: "text/css"}
		%link{href: "https://fonts.googleapis.com/css?family=Oswald:400,700", rel: "stylesheet", type: "text/css"}
		%link{href: "https://fonts.googleapis.com/css?family=Open+Sans:400,600,700", rel: "stylesheet", type: "text/css"}
		%link{href: "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css", rel: "stylesheet"}

	%body.home-page
		/ Banner
		%header
			.contain-content.clearfix
				%a{href: "#", class: "mobile-nav hide-lg"}
					%i.fa.fa-bars.fa-lg
				%a{href: "#", class: "logo pull-left show-lg"}
					%img{src: "assets/images/header/logo.png"}
				%a{href: "#", class: "logo-mobile pull-left hide-lg"}
					%img{src: "assets/images/header/logo-sm.png"}
				%a{href: "#", class: "mobile-login link-reset hide-lg pull-right"}
					Login
				%nav.desktop-nav-group.pull-right
					.account-nav.show-lg-inline
						%ul
							%li
								%a{href: "#"}
									%i.fa.fa-cog
									Account
							%li
								%a{href: "#"}
									%i.fa.fa-unlock
									Logout
					.social-nav.show-lg
						%ul
							%li.phone
								+1 (408) 555 5555
							%li
								%a{href: "#"}
									%img{src: "assets/images/header/rss.png"}
							%li
								%a{href: "#"}
									%img{src: "assets/images/header/linkedin.png"}
							%li
								%a{href: "#"}
									%img{src: "assets/images/header/youtube.png"}
							%li
								%a{href: "#"}
									%img{src: "assets/images/header/facebook.png"}
							%li
								%a{href: "#"}
									%img{src: "assets/images/header/pinterest.png"}
							%li
								%a{href: "#"}
									%img{src: "assets/images/header/twitter.png"}
					.main-nav
						%ul
							%li.hide-xs
								%a{href: "#"}
									Properties
							%li.hide-xs
								%a{href: "#"}
									Communities
							%li.show-md-inline.show-lg-inline
								%a{href: "#"}
									Services
							%li.show-md-inline.show-lg-inline
								%a{href: "#"}
									Our Team
							%li.show-lg-inline
								%a{href: "#"}
									Contact

			/ /.contain-content

		%main
			/ Start Hero
			.hero
				.hero__background
					.hero-slideshow
						%ul.slides
							%input{type: "radio", name:"radio-btn", id: "img-1", checked: ""}
							%li.slides__container
								.slide
									%img{src: "assets/images/slideshow/hero-img-2.jpg"}
								.slide-nav
									%label{for: "img-3", class:"slide-nav__controls prev"}
										&#x2039;
									%label{for: "img-2", class:"slide-nav__controls next"}
										&#x203a;

							%input{type: "radio", name:"radio-btn", id: "img-2"}
							%li.slides__container
								.slide
									%img{src: "assets/images/slideshow/hero-img-3.jpg"}
								.slide-nav
									%label{for: "img-1", class:"slide-nav__controls prev"}
										&#x2039;
									%label{for: "img-3", class:"slide-nav__controls next"}
										&#x203a;

							%input{type: "radio", name:"radio-btn", id: "img-3"}
							%li.slides__container
								.slide
									%img{src: "assets/images/slideshow/hero-img-2.jpg"}
								.slide-nav
									%label{for: "img-2", class:"slide-nav__controls prev"}
										&#x2039;
									%label{for: "img-1", class:"slide-nav__controls next"}
										&#x203a;

							.nav-progress.show-lg
								%label{id: "progress-dot-1", class: "nav-progress__dot", for: "img-1"}
								%label{id: "progress-dot-2", class: "nav-progress__dot", for: "img-2"}
								%label{id: "progress-dot-3", class: "nav-progress__dot", for: "img-3"}

					/ Hero Content
					.hero__content
						/ Hero Tabs
						.hero__content__top
							.contain-content
								/ Hero Tabs -- Areas Tab
								%input{name: "tabs", type: "radio", class: "areas-tab", id: "areas-tab"}
								%label{for: "areas-tab", class: "tabs-label h2"}
									Areas
									%i.fa.fa-caret-right.tabs-label__icon
								.tab-content.for-areas
									%h1.tab-content__title
										.show-md.show-lg
											Explore Areas in the South Shore
										.hide-md.hide-lg
											Explore Areas
									.row
										%ul.u-space-top-3
											%li.c-lg-2.c-md-3.c-sm-4.c-xs-6.u-space-4
												%a{href: "#", class: "h5 text-normal"}
													Braintree
											%li.c-lg-2.c-md-3.c-sm-4.c-xs-6.u-space-4
												%a{href: "#", class: "h5 text-normal"}
													Duxbury
											%li.c-lg-2.c-md-3.c-sm-4.c-xs-6.u-space-4
												%a{href: "#", class: "h5 text-normal"}
													Hull
											%li.c-lg-2.c-md-3.c-sm-4.c-xs-6.u-space-4
												%a{href: "#", class: "h5 text-normal"}
													Marshfield
											%li.c-lg-2.c-md-3.c-sm-4.c-xs-6.u-space-4
												%a{href: "#", class: "h5 text-normal"}
													Quincy
											%li.c-lg-2.c-md-3.c-sm-4.c-xs-6.u-space-4
												%a{href: "#", class: "h5 text-normal"}
													Weymouth
											%li.c-lg-2.c-md-3.c-sm-4.u-space-4.hide-xs
												%a{href: "#", class: "h5 text-normal"}
													Cohasett
											%li.c-lg-2.c-md-3.c-sm-4.u-space-4.hide-xs
												%a{href: "#", class: "h5 text-normal"}
													Hingham
											%li.c-lg-2.c-md-3.c-sm-4.u-space-4.hide-xs
												%a{href: "#", class: "h5 text-normal"}
													Kingston
											%li.c-lg-2.c-md-3.c-sm-4.u-space-4.hide-sm.hide-xs
												%a{href: "#", class: "h5 text-normal"}
													Hingham
											%li.c-lg-2.c-md-3.c-sm-4.u-space-4.hide-sm.hide-xs
												%a{href: "#", class: "h5 text-normal"}
													Kingston
											%li.c-lg-2.c-sm-4.u-space-4.show-lg
												%a{href: "#", class: "h5 text-normal"}
													Cohasett

								/ Hero Tabs -- Neighborhoods Tab				
								%input{name: "tabs", type: "radio", class: "neighborhoods-tab", id: "neighborhoods-tab"}
								%label{for: "neighborhoods-tab", class: "tabs-label h2"}
									Neighborhoods
									%i.fa.fa-caret-right.tabs-label__icon
								.tab-content.for-neighborhoods
									%h1.tab-content__title
										.show-md.show-lg
											Explore Neighborhoods in the South Shore
										.hide-md.hide-lg
											Explore Neighborhoods
									.row
										%ul.u-space-top-3
											%li.c-lg-2.c-md-3.c-sm-4.c-xs-6.u-space-4
												%a{href: "#", class: "h5 text-normal"}
													Braintree
											%li.c-lg-2.c-md-3.c-sm-4.c-xs-6.u-space-4
												%a{href: "#", class: "h5 text-normal"}
													Duxbury
											%li.c-lg-2.c-md-3.c-sm-4.c-xs-6.u-space-4
												%a{href: "#", class: "h5 text-normal"}
													Hull
											%li.c-lg-2.c-md-3.c-sm-4.c-xs-6.u-space-4
												%a{href: "#", class: "h5 text-normal"}
													Marshfield
											%li.c-lg-2.c-md-3.c-sm-4.c-xs-6.u-space-4
												%a{href: "#", class: "h5 text-normal"}
													Quincy
											%li.c-lg-2.c-md-3.c-sm-4.c-xs-6.u-space-4
												%a{href: "#", class: "h5 text-normal"}
													Weymouth
											%li.c-lg-2.c-md-3.c-sm-4.u-space-4.hide-xs
												%a{href: "#", class: "h5 text-normal"}
													Cohasett
											%li.c-lg-2.c-md-3.c-sm-4.u-space-4.hide-xs
												%a{href: "#", class: "h5 text-normal"}
													Hingham
											%li.c-lg-2.c-md-3.c-sm-4.u-space-4.hide-xs
												%a{href: "#", class: "h5 text-normal"}
													Kingston
											%li.c-lg-2.c-md-3.c-sm-4.u-space-4.hide-sm.hide-xs
												%a{href: "#", class: "h5 text-normal"}
													Hingham
											%li.c-lg-2.c-md-3.c-sm-4.u-space-4.hide-sm.hide-xs
												%a{href: "#", class: "h5 text-normal"}
													Kingston
											%li.c-lg-2.c-sm-4.u-space-4.show-lg
												%a{href: "#", class: "h5 text-normal"}
													Cohasett

								/ Hero Tabs -- Cities Tab
								%input{name: "tabs", type: "radio", class: "cities-tab", id: "cities-tab"}
								%label{for: "cities-tab", class: "tabs-label h2"}
									Cities
									%i.fa.fa-caret-right.tabs-label__icon
								.tab-content.for-cities
									%h1.tab-content__title
										.show-md.show-lg
											Explore Cities in the South Shore
										.hide-md.hide-lg
											Explore Cities
									.row
										%ul.u-space-top-3
											%li.c-lg-2.c-md-3.c-sm-4.c-xs-6.u-space-4
												%a{href: "#", class: "h5 text-normal"}
													Braintree
											%li.c-lg-2.c-md-3.c-sm-4.c-xs-6.u-space-4
												%a{href: "#", class: "h5 text-normal"}
													Duxbury
											%li.c-lg-2.c-md-3.c-sm-4.c-xs-6.u-space-4
												%a{href: "#", class: "h5 text-normal"}
													Hull
											%li.c-lg-2.c-md-3.c-sm-4.c-xs-6.u-space-4
												%a{href: "#", class: "h5 text-normal"}
													Marshfield
											%li.c-lg-2.c-md-3.c-sm-4.c-xs-6.u-space-4
												%a{href: "#", class: "h5 text-normal"}
													Quincy
											%li.c-lg-2.c-md-3.c-sm-4.c-xs-6.u-space-4
												%a{href: "#", class: "h5 text-normal"}
													Weymouth
											%li.c-lg-2.c-md-3.c-sm-4.u-space-4.hide-xs
												%a{href: "#", class: "h5 text-normal"}
													Cohasett
											%li.c-lg-2.c-md-3.c-sm-4.u-space-4.hide-xs
												%a{href: "#", class: "h5 text-normal"}
													Hingham
											%li.c-lg-2.c-md-3.c-sm-4.u-space-4.hide-xs
												%a{href: "#", class: "h5 text-normal"}
													Kingston
											%li.c-lg-2.c-md-3.c-sm-4.u-space-4.hide-sm.hide-xs
												%a{href: "#", class: "h5 text-normal"}
													Hingham
											%li.c-lg-2.c-md-3.c-sm-4.u-space-4.hide-sm.hide-xs
												%a{href: "#", class: "h5 text-normal"}
													Kingston
											%li.c-lg-2.c-sm-4.u-space-4.show-lg
												%a{href: "#", class: "h5 text-normal"}
													Cohasett

						/ Hero Content - Show Lg Only
						.hero__content__bottom.show-lg
							.contain-content
								%span.h3
									Explore Plymouth
								%a{href: "#", class: "h3"}
									Learn More

							/ /.contain-content

			/ Start Home Section Modules
			%section.section.section--shade.search-area
				.contain-content
					%h1.section-title.hide-xs
						.show-lg.show-md
							Search Real Estate on the South Shore
						.show-sm
							Search For Real Estate
					.row.search-form-row
						%form
							.form-group
								.c-lg-4
									%input{type: "text", placeholder: "Address, Zip or MLS #"}
									%label{class: "u-hide-text", name: "Address"}
										Address
									.input-addon.show-sm.show-xs
										%button{class: "button button--orange button--icon", type: "button", onclick: "alert('Thanks for searching!')"}
											%i.fa.fa-search
									.additional-options.show-sm.show-xs
										%a{href: "#"}
											Additional Options

								.hide-sm.hide-xs
									.c-lg-2.c-md-3
										.select
											%select
												%option{disabled: "", selected: ""}
													Beds
									.c-lg-2.c-md-3
										.select
											%select
												%option{disabled: "", selected: ""}
													Bath
									.c-lg-2.c-md-3
										.select
											%select
												%option{disabled: "", selected: ""}
													Min $
									.c-lg-2.c-md-3
										.select
											%select
												%option{disabled: "", selected: ""}
													Max $

					.row.hide-sm.hide-xs
						.u-text-center
							%button{class: "button button--orange button--icon", type: "button", onclick: "alert('Thanks for searching!')"}
								%i.fa.fa-search
								Click here to begin searching real estate in your area
				
				/ /.contain-content

			/ /.section.search-area end

			%section.section.featured-neighborhoods
				.contain-content
					%h3.section-title
						Featured Neighborhoods
					.row
						.c-lg-3.c-sm-6
							%a{href: "#", class: "panel-item-link featured-location link-reset link-reset"}
								.panel-img
									%img{src: "assets/images/featured/featured-1.png"}
								.panel-body
									%h5.panel-body__title
										Braxton
									.featured-description
										Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						.c-lg-3.c-sm-6
							%a{href: "#", class: "panel-item-link featured-location link-reset"}
								.panel-img
									%img{src: "assets/images/featured/featured-2.png"}
								.panel-body
									%h5.panel-body__title
										Beverly Hills
									.featured-description
										Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						.c-lg-3.c-sm-6
							%a{href: "#", class: "panel-item-link featured-location link-reset"}
								.panel-img
									%img{src: "assets/images/featured/featured-3.png"}
								.panel-body
									%h5.panel-body__title
										Wittington
									.featured-description
										Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						.c-lg-3.c-sm-6
							%a{href: "#", class: "panel-item-link featured-location link-reset"}
								.panel-img
									%img{src: "assets/images/featured/featured-4.png"}
								.panel-body
									%h5.panel-body__title
										Lankashire
									.featured-description
										Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				/ /.contain-content

			/ /.section.featured end

			%section.section.section.section--shade.location-tour
				.contain-content
					%h1.section-title
						A tour around hingham mass happenings!

					/ Location Group
					.row.u-space-top-6
						%ul.panel-group-tour.u-list-clean
							%li.c-lg-4.c-md-6
								.panel-item.panel-item--tour
									.panel-img
										%img{src: "assets/images/tour/property-1.png"}
									.panel-body
										%h5.panel-body__title
											482 Braxford Ave.
										.panel-listing
											Real Estate Listing
										.panel-listing.info
											Listing Agent: Victoria Mejia Sanchez
											%br/
											DRE#: 01187554
											%br/
											Courtesy of: Rodeo Realty

							%li.c-lg-4.c-md-6
								.panel-item.panel-item--tour
									.panel-img
										%img{src: "assets/images/tour/food-1.png"}
									.panel-body
										%h5.panel-body__title
											Lorem ipsum dolor sit amet.
										.panel-listing
											Blog Category

							%li.c-lg-4.c-md-6.show-lg
								.panel-item.panel-item--tour
									.panel-img
										%img{src: "assets/images/tour/property-2.png"}
									.panel-body
										%h5.panel-body__title
											482 Braxford Ave.
										.panel-listing
											Real Estate Listing
										.panel-listing.info
											Listing Agent: Victoria Mejia Sanchez
											%br/
											DRE#: 01187554
											%br/
											Courtesy of: Rodeo Realty

							%li.c-lg-4.c-md-6.show-md
								.panel-item.panel-item--tour
									.panel-img
										%img{src: "assets/images/tour/food-1.png"}
									.panel-body
										%h5.panel-body__title
											Lorem ipsum dolor sit amet.
										.panel-listing
											Blog Category

							-# Row 2 - hide on md-mobile
							%li.c-lg-4.c-md-6
								.panel-item.panel-item--tour
									.panel-img
										%img{src: "assets/images/tour/person-1.png"}
									.panel-body
										%h5.panel-body__title
											Susan Murphy
										.panel-listing
											Principle Broker

							%li.c-lg-4.c-md-6.show-md
								.panel-item.panel-item--tour
									.panel-img
										%img{src: "assets/images/tour/person-1.png"}
									.panel-body
										%h5.panel-body__title
											Susan Murphy
										.panel-listing
											Principle Broker

							%li.c-lg-4.c-md-6.show-md.show-lg
								.panel-item.panel-item--tour
									.panel-img
										%img{src: "assets/images/tour/property-1.png"}
									.panel-body
										%h5.panel-body__title
											482 Braxford Ave.
										.panel-listing
											Real Estate Listing
										.panel-listing.info
											Listing Agent: Victoria Mejia Sanchez
											%br/
											DRE#: 01187554
											%br/
											Courtesy of: Rodeo Realty

							%li.c-lg-4.c-md-6.show-lg
								.panel-item.panel-item--tour
									.panel-img
										%img{src: "assets/images/tour/food-1.png"}
									.panel-body
										%h5.panel-body__title
											Lorem ipsum dolor sit amet.
										.panel-listing
											Blog Category

							-# Row 3 - Show only on Large
							%li.c-lg-4.show-lg
								.panel-item.panel-item--tour
									.panel-img
										%img{src: "assets/images/tour/food-1.png"}
									.panel-body
										%h5.panel-body__title
											Lorem ipsum dolor sit amet.
										.panel-listing
											Blog Category

							%li.c-lg-4.show-lg
								.panel-item.panel-item--tour
									.panel-img
										%img{src: "assets/images/tour/property-1.png"}
									.panel-body
										%h5.panel-body__title
											482 Braxford Ave.
										.panel-listing
											Real Estate Listing
										.panel-listing.info
											Listing Agent: Victoria Mejia Sanchez
											%br/
											DRE#: 01187554
											%br/
											Courtesy of: Rodeo Realty

							%li.c-lg-4.show-lg
								.panel-item.panel-item--tour
									.panel-img
										%img{src: "assets/images/tour/person-2.png"}
									.panel-body
										%h5.panel-body__title
											Jason Ocampo
										.panel-listing
											Principle Broker

				/ /.contain-content

			/ /.section.location-tour end

			%section.section.about-us
				.contain-content
					.row
						.c-lg-6
							%h3.section-title
								Welcome to Elite Reality
							.panel-img
								%img{src: "assets/images/video.png"}
							.panel-body
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tellus nunc, condimentum eget rhoncus venenatis, dignissim non ligula. Sed nec tortor ipsum. Pellentesque commodo, est eu consectetur fringilla, mauris nibh blandit turpis, a vestibulum. Morbi tellus nunc, condimentum eget rhoncus venenatis.
							.u-space-5.hide-lg

						.c-lg-6
							%h3.section-title
								Testimonials
							.testimonial-module
								.testimonial__name.show-lg
									%p
										Stacy Clarkson says,
								.testimonial__quote
									%p
										Morbi tellus nunc, condimentum eget rhoncus venenatis, dignissim non ligula. Sed nec tortor ipsum.
										%span.show-lg
											%br/
										Morbi iaculis semper sodales. Proin id diam quam. 
										Phasellus vitae erat in pharetra sagittis nec mattis odio. Morbi dignissim lect dignissim non ligula dolor sit amet.
									%a{href: "#", class: "read-more show-lg"}
										Read more
								.testimonial__name.hide-lg
									%p
										&#45 Stacy Clarkson
												
								.testimonial__carousel
									.carousel-controls
										.controls.pull-left
											%i.fa.fa-angle-left
										.controls.pull-right
											%i.fa.fa-angle-right
					%hr.u-space-8.u-space-top-8
					-# Show on Large only
					.row.social-feed-row.show-lg
						.c-lg-4.instagram
							%h3.section-title
								Instagram
							.row
								%ul.panel-group-social
									%li.c-lg-4
										.panel-img
											%img{src: "assets/images/social/dog.png"}
									%li.c-lg-4
										.panel-img
											%img{src: "assets/images/social/people.png"}
									%li.c-lg-4
										.panel-img
											%img{src: "assets/images/social/eye.png"}
									%li.c-lg-4
										.panel-img
											%img{src: "assets/images/social/radio.png"}
									%li.c-lg-4
										.panel-img
											%img{src: "assets/images/social/retro.png"}
									%li.c-lg-4
										.panel-img
											%img{src: "assets/images/social/sunset.png"}
									%li.c-lg-4
										.panel-img
											%img{src: "assets/images/social/column.png"}
									%li.c-lg-4
										.panel-img
											%img{src: "assets/images/social/sprint.png"}
									%li.c-lg-4
										.panel-img
											%img{src: "assets/images/social/food.png"}
									%li.c-lg-4
										.panel-img
											%img{src: "assets/images/social/dog.png"}
									%li.c-lg-4
										.panel-img
											%img{src: "assets/images/social/people.png"}
									%li.c-lg-4
										.panel-img
											%img{src: "assets/images/social/eye.png"}
							%a{href: "#"}
								View on Instagram

						.c-lg-4.pinterest
							%h3.section-title
								Pinterest
							.row
								%ul.panel-group-social
									%li.c-lg-4
										.panel-img
											%img{src: "assets/images/social/dog.png"}
									%li.c-lg-4
										.panel-img
											%img{src: "assets/images/social/people.png"}
									%li.c-lg-4
										.panel-img
											%img{src: "assets/images/social/eye.png"}
									%li.c-lg-4
										.panel-img
											%img{src: "assets/images/social/radio.png"}
									%li.c-lg-4
										.panel-img
											%img{src: "assets/images/social/retro.png"}
									%li.c-lg-4
										.panel-img
											%img{src: "assets/images/social/sunset.png"}
									%li.c-lg-4
										.panel-img
											%img{src: "assets/images/social/column.png"}
									%li.c-lg-4
										.panel-img
											%img{src: "assets/images/social/sprint.png"}
									%li.c-lg-4
										.panel-img
											%img{src: "assets/images/social/food.png"}
									%li.c-lg-4
										.panel-img
											%img{src: "assets/images/social/dog.png"}
									%li.c-lg-4
										.panel-img
											%img{src: "assets/images/social/people.png"}
									%li.c-lg-4
										.panel-img
											%img{src: "assets/images/social/eye.png"}
							%a{href: "#"}
								View on Pinterest

						.c-lg-4.facebook
							%h3.section-title
								Facebook
							.row.u-space-4
								.c-lg-4
									.panel-img
										%img{src: "assets/images/social/dog.png"}
								.c-lg-8
									%h5.u-space-1
										Lorem ipsum dolor.
									%p.u-space-1 Lorem ipsum dolor sit amet, consectetur via consectetur.
									%a{href: "#"}
										Read More
							.row.u-space-4
								.c-lg-4
									.panel-img
										%img{src: "assets/images/social/dog.png"}
								.c-lg-8
									%h5.u-space-1
										Lorem ipsum dolor.
									%p.u-space-1 Lorem ipsum dolor sit amet, consectetur via consectetur.
									%a{href: "#"}
										Read More
							.row.u-space-4
								.c-lg-4
									.panel-img
										%img{src: "assets/images/social/dog.png"}
								.c-lg-8
									%h5.u-space-1
										Lorem ipsum dolor.
									%p.u-space-1 Lorem ipsum dolor sit amet, consectetur via consectetur.
									%a{href: "#"}
										Read More

					-# Show on Medium only			
					.row.get-in-touch-row.hide-lg
						.c-md-6
							%h3.section-title
								Get in touch
							%form.contact-form-mobile
								.form-group
									%input{type: "text", placeholder: "Full Name"}
									%input{type: "text", placeholder: "Email Address"}
									%textarea{rows: "8", placeholder: "Comments"}
								.row.form-actions
									.c-lg-12
										.pull-left.u-space-top-2
											We hate spam too!
										.pull-right
											%a{href: "#", class: "button button--orange"}
												Submit
						.u-space-5.hide-lg.hide-md

						.c-md-6
							%h3.section-title
								On Facebook
							%ul.simple-list
								%li
									Lorem ipsum dolor sit amet, consectetur lorem ipsum 
									%a{href: "#"} @adipiscing
									sectetur
									%a{href: "#"} http://t.co/7avAnhnG
									via
									%a{href: "#"} @pellentesque
									eteste amet.
								%li
									Lorem ipsum dolor sit amet, consectetur estet via 
									%a{href: "#"} @pellentesque
									eteste amet.
								%li
									Lorem ipsum dolor sit amet, consectetur lorem ipsum 
									%a{href: "#"} @adipiscing
									sectetur
									%a{href: "#"} http://t.co/7avAnhnG
									via
									%a{href: "#"} @pellentesque
									eteste amet.

				/ /.contain-content

			/ /.section.about-us end

			%section.section.section.section--shade.discovery-container
				.contain-content
					%h1.section-title
						Where do you want to live in the south shore?
					.row.u-space-8
						%ul
							%li.c-lg-2.c-md-3.c-sm-3.c-xs-6.u-space-4
								%a{href: "#", class: "h5 text-normal"}
									Braintree
							%li.c-lg-2.c-md-3.c-sm-3.c-xs-6.u-space-4
								%a{href: "#", class: "h5 text-normal"}
									Duxbury
							%li.c-lg-2.c-md-3.c-sm-3.c-xs-6.u-space-4
								%a{href: "#", class: "h5 text-normal"}
									Hull
							%li.c-lg-2.c-md-3.c-sm-3.c-xs-6.u-space-4
								%a{href: "#", class: "h5 text-normal"}
									Marshfield
							%li.c-lg-2.c-sm-3.c-xs-6.hide-md.u-space-4
								%a{href: "#", class: "h5 text-normal"}
									Quincy
							%li.c-lg-2.c-sm-3.c-xs-6.hide-md.u-space-4
								%a{href: "#", class: "h5 text-normal"}
									Weymouth
							%li.c-lg-2.c-md-3.c-sm-3.c-xs-6.u-space-4
								%a{href: "#", class: "h5 text-normal"}
									Cohasett
							%li.c-lg-2.c-md-3.c-sm-3.c-xs-6.u-space-4
								%a{href: "#", class: "h5 text-normal"}
									Hingham
							%li.c-lg-2.c-md-3.c-sm-3.c-xs-6.u-space-4
								%a{href: "#", class: "h5 text-normal"}
									Kingston
							%li.c-lg-2.c-sm-3.c-xs-6.hide-md.u-space-4
								%a{href: "#", class: "h5 text-normal"}
									Plymouth
							%li.c-lg-2.c-sm-3.c-xs-6.hide-md.u-space-4
								%a{href: "#", class: "h5 text-normal"}
									Scituate
							%li.c-sm-3.c-xs-6.show-sm.show-xs.u-space-4
								%a{href: "#", class: "h5 text-normal"}
									Scituate
							%li.c-sm-3.c-xs-6.show-sm.show-xs.u-space-4
								%a{href: "#", class: "h5 text-normal"}
									Scituate
							%li.c-sm-3.c-xs-6.show-sm.show-xs.u-space-4
								%a{href: "#", class: "h5 text-normal"}
									Scituate
							%li.c-sm-3.c-xs-6.show-sm.show-xs.u-space-4
								%a{href: "#", class: "h5 text-normal"}
									Scituate

				/ /.contain-content

				.show-lg.show-md
					%hr.hr-full.u-space-top-8.u-space-8.show-lg
					.contain-content
						%h1.section-title
							What cities are in the South Shore?
						.row
							%ul
								%li.c-lg-2.c-md-3.u-space-4
									%a{href: "#", class: "h5 text-normal"}
										Braintree
								%li.c-lg-2.c-md-3.u-space-4
									%a{href: "#", class: "h5 text-normal"}
										Duxbury
								%li.c-lg-2.c-md-3.u-space-4
									%a{href: "#", class: "h5 text-normal"}
										Hull
								%li.c-lg-2.c-md-3.u-space-4
									%a{href: "#", class: "h5 text-normal"}
										Marshfield
								%li.c-lg-2.hide-md.u-space-4
									%a{href: "#", class: "h5 text-normal"}
										Quincy
								%li.c-lg-2.hide-md.u-space-4
									%a{href: "#", class: "h5 text-normal"}
										Weymouth
								%li.c-lg-2.c-md-3.u-space-4
									%a{href: "#", class: "h5 text-normal"}
										Cohasett
								%li.c-lg-2.c-md-3.u-space-4
									%a{href: "#", class: "h5 text-normal"}
										Hingham
								%li.c-lg-2.c-md-3.u-space-4
									%a{href: "#", class: "h5 text-normal"}
										Kingston
								%li.c-lg-2.hide-md.u-space-4
									%a{href: "#", class: "h5 text-normal"}
										Plymouth
								%li.c-lg-2.hide-md.u-space-4
									%a{href: "#", class: "h5 text-normal"}
										Scituate
					/ /.contain-content

			/ /.section.discovery end

		/ /.main end
		%footer
			%nav.footer-nav.show-lg.show-md
				.contain-content
					%ul
						%il
							%a{href: "#"}
								Home
						%il
							%a{href: "#"}
								Properties
						%li
							%a{href: "#"}
								Communities
						%li
							%a{href: "#"}
								Services
						%li
							%a{href: "#"}
								Our Team
						%li
							%a{href: "#"}
								Contact

			/ /.contain-content

			%hr.show-lg.show-md
			.footer-social-row
				.contain-content
					.u-space-10.clearfix.show-lg.show-md
					%ul
						%li
							%a{href: "#"}
								%img{src: "assets/images/footer/rss.png"}
								RSS
						%li
							%a{href: "#"}
								%img{src: "assets/images/footer/linkedin.png"}
								LinkedIn
						%li
							%a{href: "#"}
								%img{src: "assets/images/footer/youtube.png"}
								YouTube
						%li
							%a{href: "#"}
								%img{src: "assets/images/footer/facebook.png"}
								Facebook
						%li
							%a{href: "#"}
								%img{src: "assets/images/footer/pinterest.png"}
								Pinterest
						%li
							%a{href: "#"}
								%img{src: "assets/images/footer/twitter.png"}
								Twitter
						%li
							%a{href: "#"}
								%img{src: "assets/images/footer/news.png"}
								News
					.u-space-8.clearfix

			/ /.contain-content

			.footer-location-row
				.contain-content
					We're based in Plymouth, Massachusetts.
					.small-text
						We work with clients from all over. Get in touch with us, we're friendly!

				/ /.contain-content

			.footer-contact-info
				%ul
					%li.u-space-top-5
						%i.fa.fa-envelope
						.contact
							%a{href: "#"} hello@eEliteRealty.com
					%li.u-space-top-5
						%i.fa.fa-phone
						.contact +1 (408) 555 5555
					%li.u-space-top-5
						%i.fa.fa-home
						.contact
							Alante Real Estate
							.home-address
								682, West Rd, New York, 12948
					
			%hr.u-space-top-5
				.copyright
					.contain-content
						&copy; 2012 eElite Realty. 
						%span.hide-sm.hide-xs
							All Rights Reserved 
						|  Real Estate Advertising by Placester

					/ /.contain-content