// ==========================================================================
// This stylesheet contains resets html tags - try to avoid adding ids and classes in here.
// ==========================================================================

*,
*:after,
*:before {
  @include vendor-prefix(box-sizing, border-box);
  margin: 0;
  padding: 0;
}

header, footer, section, article, aside, nav {
  display: block;
}

body,
html {
  height:100%;
  -webkit-font-smoothing: antialiased; // Fixes how Chrome (webkit browsers) render fonts.
}

body {
  position: relative;
}

img {
  height: auto;
  max-width: 100%; // All images should be responsive
}

ul {
  @extend .u-list-clean;
}

hr {
  border: 0;
  border-top: $border-dotted;
}