.clearfix, .row, .hero .hero__content .tab-content ul {
  *zoom: 1; }
  .clearfix::after, .row::after, .hero .hero__content .tab-content ul::after, .clearfix::before, .row::before, .hero .hero__content .tab-content ul::before {
    content: " ";
    display: table; }
  .clearfix::after, .row::after, .hero .hero__content .tab-content ul::after {
    clear: both; }

.u-space-1 {
  margin-bottom: 0.7%; }

.u-space-top-1 {
  margin-top: 0.7%; }

.u-space-2 {
  margin-bottom: 1.4%; }

.u-space-top-2 {
  margin-top: 1.4%; }

.u-space-3 {
  margin-bottom: 2.1%; }

.u-space-top-3 {
  margin-top: 2.1%; }

.u-space-4 {
  margin-bottom: 2.8%; }

.u-space-top-4 {
  margin-top: 2.8%; }

.u-space-5 {
  margin-bottom: 3.5%; }

.u-space-top-5 {
  margin-top: 3.5%; }

.u-space-6 {
  margin-bottom: 4.2%; }

.u-space-top-6 {
  margin-top: 4.2%; }

.u-space-7 {
  margin-bottom: 4.9%; }

.u-space-top-7 {
  margin-top: 4.9%; }

.u-space-8 {
  margin-bottom: 5.6%; }

.u-space-top-8 {
  margin-top: 5.6%; }

.u-space-9 {
  margin-bottom: 6.3%; }

.u-space-top-9 {
  margin-top: 6.3%; }

.u-space-10 {
  margin-bottom: 7%; }

.u-space-top-10 {
  margin-top: 7%; }

.u-space-11 {
  margin-bottom: 7.7%; }

.u-space-top-11 {
  margin-top: 7.7%; }

.u-space-12 {
  margin-bottom: 8.4%; }

.u-space-top-12 {
  margin-top: 8.4%; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.hr-full {
  background: url("../images/hr-dot.gif") repeat-x;
  border-top: none;
  height: 4px;
  width: 100%; }

.simple-list li {
  border-top: 1px dotted #cdcdcd;
  margin-bottom: 25px;
  padding-top: 25px; }
  .simple-list li:first-child {
    border-top: none;
    padding-top: 0; }

.u-text-center {
  text-align: center; }

.u-hide-text {
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.u-list-clean, ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.u-eq-height {
  display: flex;
  flex-flow: wrap; }
  .u-eq-height div[class*='col-'] {
    margin-left: -0.4px;
    /* hack adjust for wrapping */
    margin-right: -0.4px; }

.c-center {
  float: none !important;
  margin: 0 auto; }

.show-xs,
.show-sm,
.show-md,
.show-lg,
.show-xs-inline,
.show-sm-inline,
.show-md-inline,
.show-lg-inline {
  display: none !important; }

@media (max-width: 320px) {
  .show-sm {
    display: block !important; }

  .show-sm-inline {
    display: block !important; } }
@media (min-width: 321px) and (max-width: 480px) {
  .show-sm {
    display: block !important; }

  .show-sm-inline {
    display: inline-block !important; } }
@media (min-width: 481px) and (max-width: 768px) {
  .show-md {
    display: block !important; }

  .show-md-inline {
    display: inline-block !important; } }
@media (min-width: 769px) {
  .show-lg {
    display: block !important; }

  .show-lg-inline {
    display: inline-block !important; } }
@media (max-width: 320px) {
  .hide-xs {
    display: none !important; } }
@media (min-width: 321px) and (max-width: 480px) {
  .hide-sm {
    display: none !important; } }
@media (min-width: 481px) and (max-width: 768px) {
  .hide-md {
    display: none !important; } }
@media (min-width: 769px) {
  .hide-lg {
    display: none !important; } }
.button {
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 0;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Oswald", sans-serif;
  font-size: 17px;
  font-weight: 700;
  outline: 0;
  padding: 7px 16px 6px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s;
  width: auto;
  -webkit-font-smoothing: antialiased; }

.button--full {
  width: 100%; }

.button--orange {
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  -ms-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  -o-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  background: #e75640;
  border: 1px solid #ab2916; }
  .button--orange:hover, .button--orange:focus {
    background-color: #e44229; }

.button--icon i {
  padding-right: 8px;
  vertical-align: 8%; }

select,
textarea,
input[type="text"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  color: #4b4b4b;
  display: inline-block;
  border: 1px solid #cccccc;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  margin-bottom: 18px;
  padding: 4px 6px 4px 14px;
  vertical-align: middle;
  width: 100%; }
  @media (max-width: 480px) {
    select,
    textarea,
    input[type="text"] {
      margin-bottom: 12px; } }
  select:focus,
  textarea:focus,
  input[type="text"]:focus {
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #afafaf;
    font-weight: bold;
    outline: 0; }
  select::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder,
  input[type="text"]::-webkit-input-placeholder {
    color: inherit; }
  select::placeholder,
  textarea::placeholder,
  input[type="text"]::placeholder {
    color: inherit; }
  select:-webkit-autofill,
  textarea:-webkit-autofill,
  input[type="text"]:-webkit-autofill {
    -moz-box-shadow: 0 0 0px 1000px white inset;
    -ms-box-shadow: 0 0 0px 1000px white inset;
    -o-box-shadow: 0 0 0px 1000px white inset;
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    box-shadow: 0 0 0px 1000px white inset; }

textarea {
  height: auto;
  line-height: normal;
  padding-bottom: 10px;
  padding-top: 10px;
  resize: none; }

.select {
  position: relative; }
  .select::before {
    color: #b9b9b9;
    content: "\f0d7";
    font-family: FontAwesome;
    font-size: 20px;
    height: 100%;
    line-height: 40px;
    pointer-events: none;
    position: absolute;
    right: 5px;
    text-align: center;
    top: 0;
    width: 30px; }

select {
  line-height: normal; }
  select::-ms-expand {
    display: none; }

input[type="radio"],
input[type="checkbox"] {
  -moz-appearance: none;
  -webkit-appearance: none; }
  input[type="radio"]:focus,
  input[type="checkbox"]:focus {
    outline: 0; }

.input-addon {
  height: 100%;
  position: absolute;
  right: 11px;
  top: 0; }
  .input-addon > button,
  .input-addon a,
  .input-addon input[type="button"] {
    height: 40px;
    width: 46px; }

.panel-item,
.panel-item-link {
  display: block; }

.panel-item-link .panel-body__title:hover {
  color: #e75640; }

.panel-img {
  position: relative; }
  .panel-img iframe,
  .panel-img img,
  .panel-img video {
    border: 5px solid #f4f4f4;
    width: 100%; }

.panel-body {
  padding: 15px 0; }

.panel-body__title {
  margin-bottom: 15px;
  text-transform: uppercase; }
  @media (max-width: 768px) {
    .panel-body__title {
      margin-bottom: 10px; } }

.panel-item--tour {
  -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
  background: #ffffff;
  width: 100%; }
  .panel-item--tour .panel-body {
    padding-left: 15px;
    padding-right: 15px; }
  .panel-item--tour .panel-img img {
    border: none; }
  .panel-item--tour .panel-body__title {
    margin-bottom: 0; }
  .panel-item--tour .panel-listing {
    color: #909090;
    margin-bottom: 10px; }
    .panel-item--tour .panel-listing.info {
      font-family: Arial, "sans-serif";
      font-size: 9px; }

.panel-group-tour {
  height: auto; }
  .panel-group-tour li {
    margin-bottom: 20px; }

@media (min-width: 481px) {
  .panel-group-tour {
    display: flex;
    flex-flow: wrap;
    min-height: 326px; }
    .panel-group-tour li {
      display: flex; } }
.panel-group-social li {
  margin: 0 -5px 5px; }

.testimonial-module {
  font-size: 20px;
  font-style: italic;
  padding: 0 0 100px 80px;
  position: relative; }
  @media (max-width: 320px) {
    .testimonial-module {
      padding-left: 45px; } }
  .testimonial-module::before {
    color: #88939a;
    content: '\f10d';
    font-family: FontAwesome;
    font-size: 28px;
    font-style: normal;
    left: 20px;
    position: absolute;
    top: 0; }
    @media (max-width: 320px) {
      .testimonial-module::before {
        left: 0; } }
  .testimonial-module .testimonial__name {
    color: #909090; }
  .testimonial-module .testimonial__quote {
    color: #000000; }
    .testimonial-module .testimonial__quote a.read-more {
      font-size: 16px; }
  .testimonial-module .testimonial__carousel .carousel-controls {
    left: 50%;
    margin-left: -73px;
    position: absolute;
    width: 146px;
    bottom: 0; }
  .testimonial-module .testimonial__carousel .controls {
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #f4f4f4;
    color: #88939a;
    cursor: pointer;
    font-size: 52px;
    height: 64px;
    line-height: 57px;
    text-align: center;
    width: 64px; }

*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

header, footer, section, article, aside, nav {
  display: block; }

body,
html {
  height: 100%;
  -webkit-font-smoothing: antialiased; }

body {
  position: relative; }

img {
  height: auto;
  max-width: 100%; }

hr {
  border: 0;
  border-top: 1px dotted #cdcdcd; }

body {
  color: #4b4b4b;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.5; }

a,
a:hover,
a:focus {
  color: #e75640;
  outline: 0;
  text-decoration: none; }

a.link-reset,
.text-normal {
  color: inherit; }
  a.link-reset:hover,
  .text-normal:hover {
    color: color-orange; }

p {
  margin-bottom: 15px;
  margin-top: 0; }

h1, .h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
  font-family: "Oswald", sans-serif;
  font-size: 100%;
  font-weight: normal;
  line-height: 1.5;
  margin: 0;
  text-transform: uppercase; }

h1, .h1 {
  font-size: 32px; }

h2, .h2 {
  font-size: 28px; }

h3, .h3 {
  font-size: 26px; }

h4, .h4 {
  font-size: 21px; }

h5, .h5 {
  font-size: 18px; }

footer {
  background: #171717; }
  @media (min-width: 481px) {
    footer {
      text-align: center; } }
  footer hr {
    border-color: #515151;
    margin: 0; }
  footer ul li {
    display: inline-block;
    vertical-align: top; }
  footer nav.footer-nav {
    padding: 26px 0; }
    footer nav.footer-nav a {
      color: #909090;
      font-weight: 700;
      padding: 0 14px;
      text-transform: uppercase; }
      footer nav.footer-nav a:hover {
        color: #ffffff; }
  @media (max-width: 481px) {
    footer .footer-social-row {
      padding-top: 20px; } }
  footer .footer-social-row li {
    font-size: 13px;
    padding: 10px 2% 10px; }
    @media (max-width: 481px) {
      footer .footer-social-row li {
        padding-left: 1%;
        padding-right: 1%; } }
    footer .footer-social-row li img {
      display: block;
      margin-bottom: 12px; }
    footer .footer-social-row li a {
      color: #b7b7b7;
      text-align: center; }
  footer .footer-location-row {
    color: #ffffff;
    font-size: 28px; }
    footer .footer-location-row .small-text {
      font-size: 20px; }
  footer .footer-contact-info {
    font-size: 22px;
    font-weight: 700; }
    @media (max-width: 480px) {
      footer .footer-contact-info {
        font-size: 18px; } }
    footer .footer-contact-info li {
      padding: 0 30px;
      text-align: left; }
      @media (max-width: 769px) and (min-width: 481px) {
        footer .footer-contact-info li {
          text-align: center; } }
    footer .footer-contact-info i {
      font-size: 26px;
      padding-right: 3px; }
    footer .footer-contact-info .contact {
      color: #ffffff;
      display: inline; }
      footer .footer-contact-info .contact .home-address {
        font-size: 16px;
        font-weight: normal;
        padding-left: 30px; }
  footer .copyright {
    color: #616161;
    font-size: 13px;
    padding: 21px 0; }

@media (min-width: 321px) {
  .c-sm-1 {
    float: left;
    width: 8.33333%; }

  .c-sm-2 {
    float: left;
    width: 16.66667%; }

  .c-sm-3 {
    float: left;
    width: 25%; }

  .c-sm-4 {
    float: left;
    width: 33.33333%; }

  .c-sm-5 {
    float: left;
    width: 41.66667%; }

  .c-sm-6 {
    float: left;
    width: 50%; }

  .c-sm-7 {
    float: left;
    width: 58.33333%; }

  .c-sm-8 {
    float: left;
    width: 66.66667%; }

  .c-sm-9 {
    float: left;
    width: 75%; }

  .c-sm-10 {
    float: left;
    width: 83.33333%; }

  .c-sm-11 {
    float: left;
    width: 91.66667%; }

  .c-sm-12 {
    float: left;
    width: 100%; } }
@media (min-width: 481px) {
  .c-md-1 {
    float: left;
    width: 8.33333%; }

  .c-md-2 {
    float: left;
    width: 16.66667%; }

  .c-md-3 {
    float: left;
    width: 25%; }

  .c-md-4 {
    float: left;
    width: 33.33333%; }

  .c-md-5 {
    float: left;
    width: 41.66667%; }

  .c-md-6 {
    float: left;
    width: 50%; }

  .c-md-7 {
    float: left;
    width: 58.33333%; }

  .c-md-8 {
    float: left;
    width: 66.66667%; }

  .c-md-9 {
    float: left;
    width: 75%; }

  .c-md-10 {
    float: left;
    width: 83.33333%; }

  .c-md-11 {
    float: left;
    width: 91.66667%; }

  .c-md-12 {
    float: left;
    width: 100%; } }
@media (min-width: 769px) {
  .c-lg-1 {
    float: left;
    width: 8.33333%; }

  .c-lg-2 {
    float: left;
    width: 16.66667%; }

  .c-lg-3 {
    float: left;
    width: 25%; }

  .c-lg-4 {
    float: left;
    width: 33.33333%; }

  .c-lg-5 {
    float: left;
    width: 41.66667%; }

  .c-lg-6 {
    float: left;
    width: 50%; }

  .c-lg-7 {
    float: left;
    width: 58.33333%; }

  .c-lg-8 {
    float: left;
    width: 66.66667%; }

  .c-lg-9 {
    float: left;
    width: 75%; }

  .c-lg-10 {
    float: left;
    width: 83.33333%; }

  .c-lg-11 {
    float: left;
    width: 91.66667%; }

  .c-lg-12 {
    float: left;
    width: 100%; } }
@media (max-width: 320px) {
  .c-xs-1 {
    float: left;
    width: 8.33333%; }

  .c-xs-2 {
    float: left;
    width: 16.66667%; }

  .c-xs-3 {
    float: left;
    width: 25%; }

  .c-xs-4 {
    float: left;
    width: 33.33333%; }

  .c-xs-5 {
    float: left;
    width: 41.66667%; }

  .c-xs-6 {
    float: left;
    width: 50%; }

  .c-xs-7 {
    float: left;
    width: 58.33333%; }

  .c-xs-8 {
    float: left;
    width: 66.66667%; }

  .c-xs-9 {
    float: left;
    width: 75%; }

  .c-xs-10 {
    float: left;
    width: 83.33333%; }

  .c-xs-11 {
    float: left;
    width: 91.66667%; }

  .c-xs-12 {
    float: left;
    width: 100%; } }
div[class^="c-"],
li[class^="c-"] {
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative; }

.row {
  margin-left: -10px;
  margin-right: -10px; }

header {
  padding: 15px 0;
  text-transform: uppercase; }
  @media (min-width: 769px) {
    header {
      border-top: 4px solid #f4f4f4;
      padding: 35px 0 22px; } }
  header .logo {
    width: 33%; }
  header .logo-mobile,
  header .mobile-nav {
    display: inline-block;
    float: none;
    height: 100%;
    margin-right: -4px;
    vertical-align: middle; }
  @media (max-width: 480px) {
    header .logo-mobile img {
      zoom: 70%; } }
  header .mobile-nav {
    padding-right: 5px; }
  header .mobile-login {
    padding-top: 7px; }
    @media (max-width: 480px) {
      header .mobile-login {
        padding-top: 2px; } }
  header .desktop-nav-group {
    margin-top: -35px;
    position: relative;
    text-align: right; }
    @media (max-width: 768px) {
      header .desktop-nav-group {
        display: inline-block;
        float: none;
        height: 100%;
        margin-right: -4px;
        vertical-align: middle;
        margin-top: 0; } }
    header .desktop-nav-group a {
      color: #909090;
      display: block; }
    header .desktop-nav-group ul li {
      display: inline-block; }
    header .desktop-nav-group .account-nav {
      -moz-border-radius: 0 0 6px 6px;
      -ms-border-radius: 0 0 6px 6px;
      -o-border-radius: 0 0 6px 6px;
      -webkit-border-radius: 0 0 6px 6px;
      border-radius: 0 0 6px 6px;
      background: #f4f4f4;
      display: inline-block;
      font-size: 11px;
      padding: 6px;
      text-align: center; }
      header .desktop-nav-group .account-nav a {
        color: #696969;
        padding: 0 6px; }
      header .desktop-nav-group .account-nav i {
        color: #e75640;
        padding-right: 2px; }
    header .desktop-nav-group .social-nav {
      margin: 15px 0 12px; }
      header .desktop-nav-group .social-nav li {
        padding-left: 5px; }
      header .desktop-nav-group .social-nav .phone {
        color: #e75640;
        font-size: 18px;
        padding-right: 5px;
        vertical-align: top; }
    header .desktop-nav-group .main-nav a {
      font-size: 14px;
      font-weight: 700;
      padding: 0 8px; }

.hero {
  height: 560px;
  line-height: 0;
  position: relative; }
  @media (min-width: 985px) {
    .hero {
      height: 660px; } }
  .hero .hero__background {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0; }
  .hero .hero-slideshow img {
    height: 100%;
    max-width: inherit;
    width: auto;
    zoom: 55%; }
    @media (min-width: 840px) {
      .hero .hero-slideshow img {
        height: auto;
        width: 100%;
        zoom: 1; } }
  .hero .hero__content {
    bottom: 0;
    color: #ffffff;
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%; }
    @media (min-width: 769px) {
      .hero .hero__content {
        background-color: rgba(0, 0, 0, 0.65);
        height: 135px; } }
    .hero .hero__content .hero__content__top {
      border-bottom: 1px solid rgba(255, 255, 255, 0.25);
      padding: 24px 0; }
      @media (max-width: 768px) {
        .hero .hero__content .hero__content__top {
          border: 0;
          position: absolute;
          bottom: 0;
          width: 100%; } }
    .hero .hero__content input[type="radio"],
    .hero .hero__content .tab-content {
      display: none; }
    .hero .hero__content input[type="radio"]:checked + .tabs-label {
      color: #e75640; }
      .hero .hero__content input[type="radio"]:checked + .tabs-label i.fa-caret-right::before {
        content: "\f0d7"; }
        @media (min-width: 769px) {
          .hero .hero__content input[type="radio"]:checked + .tabs-label i.fa-caret-right::before {
            content: "\f0d8"; } }
    .hero .hero__content .tabs-label {
      color: inherit;
      cursor: pointer;
      display: inline-block;
      position: relative;
      width: 33%; }
      @media (max-width: 768px) {
        .hero .hero__content .tabs-label {
          background: rgba(0, 0, 0, 0.65);
          display: block;
          margin-top: 10px;
          padding: 20px;
          width: 100%; } }
      .hero .hero__content .tabs-label .tabs-label__icon {
        position: absolute;
        right: 38px;
        top: 24px; }
        @media (min-width: 769px) {
          .hero .hero__content .tabs-label .tabs-label__icon {
            top: 6px; } }
    .hero .hero__content .tab-content {
      background-color: rgba(0, 0, 0, 0.65);
      border-top: 1px solid rgba(255, 255, 255, 0.25);
      padding: 26px 20px 10px;
      text-align: center;
      width: 100%; }
      @media (min-width: 769px) {
        .hero .hero__content .tab-content {
          left: 50%;
          margin-left: -350px;
          position: absolute;
          width: 700px;
          border: 1px solid #000000;
          bottom: 135px;
          padding-left: 35px;
          padding-right: 35px;
          position: absolute; } }
      @media (min-width: 880px) {
        .hero .hero__content .tab-content {
          left: 50%;
          margin-left: -470px;
          position: absolute;
          width: 940px; } }
      .hero .hero__content .tab-content .tab-content__title {
        color: #ffffff;
        text-align: left; }
      .hero .hero__content .tab-content ul {
        text-align: left; }
        .hero .hero__content .tab-content ul a {
          color: #bfbfbf; }
          .hero .hero__content .tab-content ul a:hover {
            color: #e75640; }
    .hero .hero__content .hero__content__bottom {
      padding-top: 3px; }
      .hero .hero__content .hero__content__bottom a::before {
        color: #ffffff;
        content: "|";
        margin: 0 4px; }
    .hero .hero__content input[type="radio"]:checked:nth-of-type(1) ~ .tab-content:nth-of-type(1) {
      display: block; }
    .hero .hero__content input[type="radio"]:checked:nth-of-type(2) ~ .tab-content:nth-of-type(2) {
      display: block; }
    .hero .hero__content input[type="radio"]:checked:nth-of-type(3) ~ .tab-content:nth-of-type(3) {
      display: block; }
  .hero .slides * {
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    user-select: none; }
  .hero .slides input[type="radio"] {
    display: none; }
    .hero .slides input[type="radio"]:checked + .slides__container .slide {
      -moz-transition: opacity 1s ease-in-out;
      -ms-transition: opacity 1s ease-in-out;
      -o-transition: opacity 1s ease-in-out;
      -webkit-transition: opacity 1s ease-in-out;
      transition: opacity 1s ease-in-out;
      opacity: 1; }
    .hero .slides input[type="radio"]:checked + .slides__container .slide-nav label {
      display: block; }
  .hero .slides .slides__container {
    display: block; }
    .hero .slides .slides__container .slide {
      -moz-transition: all 0.7s ease-in-out;
      -ms-transition: all 0.7s ease-in-out;
      -o-transition: all 0.7s ease-in-out;
      -webkit-transition: all 0.7s ease-in-out;
      transition: all 0.7s ease-in-out;
      display: block;
      height: 100%;
      opacity: 0;
      position: absolute;
      top: 0;
      width: 100%; }
      .hero .slides .slides__container .slide:hover + .slide-nav label {
        opacity: 1; }
    .hero .slides .slides__container .slide-nav label.slide-nav__controls {
      height: 108px;
      margin-top: -54px;
      position: absolute;
      top: 50%;
      -moz-border-radius: 0 20px 20px 0;
      -ms-border-radius: 0 20px 20px 0;
      -o-border-radius: 0 20px 20px 0;
      -webkit-border-radius: 0 20px 20px 0;
      border-radius: 0 20px 20px 0;
      -moz-transition: opacity 0.2s;
      -ms-transition: opacity 0.2s;
      -o-transition: opacity 0.2s;
      -webkit-transition: opacity 0.2s;
      transition: opacity 0.2s;
      background-color: rgba(0, 0, 0, 0.5);
      color: #ffffff;
      content: "";
      cursor: pointer;
      display: none;
      font-size: 140px;
      line-height: 70px;
      opacity: .4;
      text-align: center;
      width: 64px;
      z-index: 9; }
      @media (max-width: 768px) {
        .hero .slides .slides__container .slide-nav label.slide-nav__controls {
          display: none !important; } }
      .hero .slides .slides__container .slide-nav label.slide-nav__controls:hover {
        opacity: 1; }
      .hero .slides .slides__container .slide-nav label.slide-nav__controls.next {
        -moz-border-radius: 20px 0 0 20px;
        -ms-border-radius: 20px 0 0 20px;
        -o-border-radius: 20px 0 0 20px;
        -webkit-border-radius: 20px 0 0 20px;
        border-radius: 20px 0 0 20px;
        right: 0; }
  .hero input#img-1:checked ~ .nav-progress label#progress-dot-1 {
    background: #e75640; }
  .hero input#img-2:checked ~ .nav-progress label#progress-dot-2 {
    background: #e75640; }
  .hero input#img-3:checked ~ .nav-progress label#progress-dot-3 {
    background: #e75640; }
  .hero .nav-progress {
    bottom: 9px;
    display: block;
    height: 11px;
    position: absolute;
    right: 100px;
    text-align: center;
    width: auto;
    z-index: 999; }
    .hero .nav-progress .nav-progress__dot {
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      background-color: #ffffff;
      display: inline-block;
      height: 11px;
      margin: 0 4px;
      position: relative;
      top: -5px;
      width: 11px; }
      .hero .nav-progress .nav-progress__dot:hover {
        background: #e75640;
        cursor: pointer; }

.contain-content {
  margin: 0 auto;
  max-width: 980px;
  padding-left: 20px;
  padding-right: 20px; }

.section {
  padding: 4.5% 0 5.5%; }
  .section .section-title {
    margin-bottom: 4%; }
  .section h3, .section .h3 {
    color: #88939a; }
  .section.section--shade {
    background: #ededed; }
    .section.section--shade .section-title {
      text-align: center; }

body.home-page .section.about-us .panel-body {
  line-height: 24px; }
body.home-page .section.search-area {
  padding: 30px 0; }
  @media (max-width: 480px) {
    body.home-page .section.search-area {
      padding: 12px 0; } }
  body.home-page .section.search-area .section-title {
    margin-bottom: 20px; }
  body.home-page .section.search-area .src-button {
    width: 470px; }
body.home-page .section.discovery-container ul {
  text-align: center; }
  @media (max-width: 480px) {
    body.home-page .section.discovery-container ul li {
      text-align: left; } }

/*# sourceMappingURL=main.css.map */
